.post {
  width: 500px;
  margin: 30px 25px 40px 25px;
  font-family: "Gamja Flower", cursive;
}

.postImg {
  width: 100%;
  border-radius: 15px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postTitle {
  margin: 15px;
  cursor: pointer;
}

.postDate {
  font-style: italic;
  font-size: 15px;
  color: #999;
}

.postDesc {
  color: #444;
  line-height: 28px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
